@charset 'UTF-8';
@import url(ui/buttons.css);
@import url(ui/navbar.css);
@import url(ui/cards.css);
@import url(ui/footer.css);

div {
	border: 2px solid #7cfc00;
}

html,
body {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

.dark{
	background-color: #222;
	color: #e6e6e6;
}

footer {
	height: 300px;
	background-color: #ffa07a;
}